html, body {
    margin: 0px;
    padding: 0px;
    background-color: #ebebeb;
}

#canvas {
    background-color: rgb(53, 172, 142);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}